// Define variables for your color scheme
$brand-color: #F9690E;
$accent-color: $brand-color;
$border-color: #DBDBDB;
$light-bg: #ECECEC;

// Text
$text-dark: #545454;
$text-grey: #484848;
$text-light: #A6A6A8;

$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;
