// Import Google fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Hind|Cabin");

// Define fonts for body and headers
$base-font: 'Open Sans', sans-serif;
$header-font: $base-font;
$brand-font: 'Hind', sans-serif;

$base-size: 16px;
$base-height: 1.4;

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
