.avatar-small {
  height: 34px;
  width: 34px;
}
.avatar-large {
  height: 60px;
  width: 60px;
}
.avatar-xxl {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
.avatar-bordered {
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.avatar-square {
  height: 30px;
  width: 30px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
