.form-control[readonly],
.form-control {
  border:none;
  padding:15px 20px;
  background:rgba(255,255,255,.1);
  color: $text-dark;
}

.inline_field_wrapper {
    display: inline-block;
}

.form-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  div {
    flex:1 1 auto;
    margin:5px;
  }
}

.form-control-label {
  color: $text-dark;
  font-size: 14px;
}

input:disabled {
  cursor: not-allowed !important;
}

.form-search {
  display: flex;
  flex-direction: row;
  .search-input {
    padding: 20px;
    color: $text-dark;
    background: white;
    flex: 1;
  }
}
