.subnav {
  background: white;
  height: 40px;
  width: 100%;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
  padding: 0px 30px;
  display: flex;
  flex-direction: row;

  .search {
    border-right: 1px solid #E6E6E6;
    flex-grow: 1;
    height: 100%;
    color: $text-light;
    padding: 10px 0;
    .search-input {
      border: none;
      width: 80%;
      background: transparent;
      padding-left: 10px;
      &:focus {
        border-bottom: 1px solid $blue;
        outline: 0;
      }
    }

    .search-icon {
      position: absolute;
      left: 3px;
      top: calc(50% - 0.5em);
      opacity: 0;
    }
    .input-wrapper {
      position: relative;
    }
  }

  .price-filter {
    width: 300px;
    height: 100%;
  }
}

.search-icon.is-visible {
  opacity: 1 !important;
}
